/* Very Small Devices, Phones */
@media only screen and (max-width:769px){

    
    #main-header{
        text-align: center;
    }


    #menu-holder{
        text-align:center;
        margin-top:-55px;
        height:60px;
        padding-top:20px;
        background-color: rgb(89, 43, 226);

    }

    #logo{
        display:none;
    }

    #icon{
        width:30px;
        height:30px;
        margin-bottom:-10px;
    }

    #menu-item{
        padding-right:75px;
    }



    h3{
        font-size:10px;
        text-decoration: none;
    }
    
    #title{
        display:none;
    }


    #time{
        visibility:hidden;
    }

    li Link{
        width:100px;
    }

}

/* Small Devices, Tablets */
@media only screen and (min-width:768px) and (max-width:1260px){

    #header-wrap{
        background-color: rgb(89, 43, 226);
    }

    #main-header{
        text-align:center;
    }

    #logo{
        height:40px;
        width:40px;
        border-radius:15px;
        margin-top:-15px;
    }

    #logoname{
        margin-top:-3px;
    }

    #menu-holder{
        text-align:right;
        padding-right:40px;
        margin-top:-80px;
    }

    h3{
        padding-right:40px;
        font-size:15px;
    }

    #title{
        font-size:15px;
    }

    #icon{
        display:none;
    }

    #time{
        font-size:15px;
        padding-left:50px;
    }

}

/*Medium Devices, Laptops*/
@media only screen and (min-width:1261px) and (max-width:1500px){

    #header-wrap{
        background-color:rgb(89, 43, 226);
        height:80px;

    }

    #main-header{
        text-align:center;
    }

    #logo{
        width:55px;
        height:55px;
        border-radius:20px;
        margin-top:-20px;
    }

    #logoname{
        margin-top:0px;
    }

    #menu-holder{
        text-align:right;
        padding-right:50px;
        margin-top:-90px;
    }


    h3{
        padding-right:50px;
    }


    #icon{
        display:none;
    }

    #time{
        font-size:20px;
        padding-left:170px;
    }

}

/* Large Devices, Desktops */
@media only screen and (min-width:1501px){

    #header-wrap{
        background-color:rgb(89, 43, 226);
        height:110px;
    }

    #main-header{
        text-align:center;
    }


    #logo{
        width:70px;
        height:70px;
        border-radius:30px;
        margin-top:-30px;
    }

    #main-header{
        margin-left:20%;
    }

    #menu-holder{
        padding-right:75px;
        margin-top:-120px;
    }

    #logoname{
        margin-top:-25px;

    }

    h3{
        padding-right:90px;
        font-size: 22px;
    }


    #time{
        padding-left:200px;
        font-size:18px;
    }

    #title{
        font-size:25px;
    }

    #icon{
        display:none;
    }

    #menu-holder{
        text-align:right;
    }

}


#header-wrap li{
    display:inline-block;
}

#header-wrap{
    width:100%;
    position:fixed;
    top:0;
    z-index:1030;
}

#main-header{
    height:fit-content;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#logo{
    cursor:pointer;
    vertical-align: middle;
}

#header-wrap ul{
    list-style-type: none;
    display:block;
    overflow:hidden;
}


li Link{
    display:block;
    text-decoration:none;
}


#logoname{
    text-align:left;
}

#menu-item{
    text-decoration:none;
    color:rgb(255, 255, 255);
}

#title{
    text-decoration:none;
    color:white;
    font-family:Lucida Handwriting;
}

h3:hover{
    text-shadow:2px 2px 5px rgb(255, 242, 3);
}

#menu-item.active{
    text-decoration: underline;
}

#time{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
}
