/* Very Small Devices, Phones */
@media only screen and (max-width:769px){

    
    #main-header{
        text-align: center;
    }

    #header-wrap{
        background-color:rgba(255, 255, 255, 0.8);
        margin-top:0%;
        height:50px;
    }

    #logo{
        display:none;
    }

    #icon{
        width:30px;
        height:30px;
        padding-right:38px;
        margin-bottom:-10px;
    }

    h3{
        padding-right:40px;
        font-size:10px;
        text-decoration: none;
    }
    
    #title{
        display:none;
    }



}

/* Small Devices, Tablets */
@media only screen and (min-width:768px) and (max-width:1260px){

    #main-header{
        text-align:center;
    }

    #logo{
        height:50px;
        width:50px;
        border-radius:15px;
    }

    h3{
        padding-left:28px;
        padding-right:28px;
        margin-top:40px;
        font-size:15px;
    }

    #title{
        font-size:15px;
    }

    #icon{
        display:none;
    }


}

/*Medium Devices, Laptops*/
@media only screen and (min-width:1261px) and (max-width:1500px){

    #main-header{
        text-align:center;
    }

    #logo{
        width:70px;
        height:70px;
        padding:10px;
        border-radius:30px;
    }

    #main-header{
        margin-left:20%;
    }


    h3{
        padding-left:49px;
        padding-right:49px;
        margin-left:50px;
        margin-top:0px;
    }
    #icon{
        display:none;
    }

}


/* Large Devices, Desktops */
@media only screen and (min-width:1501px){

    #main-header{
        text-align:center;
    }


    #logo{
        width:70px;
        height:70px;
        padding:10px;
        border-radius:30px;
    }

    #main-header{
        margin-left:20%;
    }



    h3{
        padding-left:90px;
        padding-right:100px;
        margin-left:50px;
        margin-top:50px;
        font-size: 22px;
    }

    #title{
        font-size:25px;
    }

    #icon{
        display:none;
    }


}


li{
    display:inline-block;
}

#header-wrap{
    width:100%;
}

#main-header{
    height:fit-content;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#logo{
    cursor:pointer;
    vertical-align: middle;
}

ul{
    list-style-type: none;
    display:block;
    overflow:hidden;
}


li Link{
    display:block;
    text-decoration:none;
}

#menu-item{
    text-decoration:none;
    color:black;
}

#title{
    text-decoration:none;
    color:black;
}

h3:hover{
    text-shadow:2px 2px 5px maroon;
}
