@media only screen and (min-width:1501px){
    .timerjs #countdown_info{
        margin-top:150px;
        font-size:40px;
        height:90px;
        width:700px;
        padding:20px;
        border-radius:15px;
        margin-left:-350px;
    }

    input{
        width:75px;
        height:40px;
        font-size:40px;
    }

    .timerjs #reciever{
        font-size:150px;
        margin-top:50px;
        width:90%;
        margin-left:-45%;
        border-radius:30px;
        padding:10px;
    }

    #all_btn{
        margin-top:-80px;
        margin-left:-600px;
    }

    #starter_btn{
        font-size:40px;
        padding:20px;
        border-radius:5px;
        width:300px;
    }

    #stop_btn{
        font-size:40px;
        padding:20px;
        border-radius:5px;
        width:300px;
    }

    #resume_btn{
        font-size:40px;
        padding:20px;
        border-radius:5px;
        width:300px;
    }

    #pause_btn{
        font-size:40px;
        padding:20px;
        border-radius:5px;
        width:300px;
    }

    .timerjs #nb_reciever{
        font-size:50px;
        margin-left:-300px;
        width:600px;
        border-radius:10px;
    }

}

@media only screen and (min-width:1261px) and (max-width:1500px){
    #countdown_info{
        margin-top:150px;
        font-size:25px;
        height:90px;
        width:600px;
        padding:10px;
        border-radius:15px;
        margin-left:-300px;
    }

    input{
        width:75px;
        height:35px;
        font-size:25px;
    }

    .timerjs #reciever{
        font-size:130px;
        margin-top:50px;
        width:85%;
        margin-left:-42.5%;
        border-radius:30px;
        padding:10px;
    }

    #all_btn{
        margin-top:-80px;
        margin-left:-500px;
    }

    #starter_btn{
        font-size:30px;
        padding:20px;
        border-radius:5px;
        width:250px;
    }

    #stop_btn{
        font-size:30px;
        padding:20px;
        border-radius:5px;
        width:250px;
    }

    #resume_btn{
        font-size:30px;
        padding:20px;
        border-radius:5px;
        width:250px;
    }

    #pause_btn{
        font-size:30px;
        padding:20px;
        border-radius:5px;
        width:250px;
    }

    .timerjs #nb_reciever{
        font-size:45px;
        margin-left:-250px;
        width:500px;
        margin-top:70px;
        border-radius:10px;
    }
}

@media only screen and (min-width:768px) and (max-width:1260px){
    #countdown_info{
        margin-top:150px;
        font-size:20px;
        height:90px;
        width:500px;
        padding:10px;
        border-radius:15px;
        margin-left:-250px;
    }

    input{
        width:75px;
        height:35px;
        font-size:25px;
    }

    .timerjs #reciever{
        font-size:70px;
        margin-top:50px;
        width:85%;
        margin-left:-42.5%;
        border-radius:30px;
        padding:10px;
    }

    #all_btn{
        margin-top:-30px;
        margin-left:-300px;
    }

    #starter_btn{
        font-size:30px;
        padding:10px;
        border-radius:5px;
        width:150px;
    }

    #stop_btn{
        font-size:30px;
        padding:10px;
        border-radius:5px;
        width:150px;
    }

    #resume_btn{
        font-size:30px;
        padding:10px;
        border-radius:5px;
        width:150px;
    }

    #pause_btn{
        font-size:30px;
        padding:10px;
        border-radius:5px;
        width:150px;
    }

    .timerjs #nb_reciever{
        font-size:30px;
        margin-left:-200px;
        width:400px;
        margin-top:70px;
        border-radius:10px;
    }

}

@media only screen and (max-width:769px){
    #countdown_info{
        margin-top:150px;
        font-size:12px;
        height:90px;
        width:400px;
        padding:10px;
        border-radius:15px;
        margin-left:-200px;
    }

    input{
        width:75px;
        height:35px;
        font-size:12px;
    }

    .timerjs #reciever{
        font-size:50px;
        margin-top:20px;
        width:85%;
        margin-left:-42.5%;
        border-radius:30px;
        padding:10px;
    }

    #all_btn{
        margin-top:-30px;
        margin-left:-150px;
    }


    #starter_btn{
        font-size:15px;
        padding:10px;
        border-radius:5px;
        width:75px;
    }

    #stop_btn{
        font-size:15px;
        padding:10px;
        border-radius:5px;
        width:75px;
    }

    #resume_btn{
        font-size:15px;
        padding:10px;
        border-radius:5px;
        width:75px;
    }

    #pause_btn{
        font-size:15px;
        padding:10px;
        border-radius:5px;
        width:75px;
    }

    .timerjs #nb_reciever{
        font-size:20px;
        margin-left:-125px;
        width:250px;
        margin-top:70px;
        border-radius:10px;
    }

}


#timer{
    min-width:100%;
    min-height:100%;
    width:100%;
    height:auto;
    background-image:url('../../images/IntervalTimer_Background.png');
    background-size:cover;
    overflow:auto;
    top:0px;
    left:0px;
    position:absolute;
}



input{
    text-align:center;
    vertical-align:bottom;
    border-top:none;
    border-left:none;
    border-right:none;
}

.timerjs #countdown_info{
    background-color:white;
    position:relative;
    text-align:center;
    left:50%;
}

.timerjs #reciever{
    background-color:white;
    position:relative;
    left:50%;
    text-align:center;
}

#all_btn{
    position:relative;
    left:50%;
}

#starter_btn{
    background-color:rgb(144, 238, 144);
}

#starter_btn:hover{
    background-color:green;
    cursor:pointer;
}

#stop_btn{
    pointer-events:none;
    background-color:rgb(220, 20, 60);
}

#stop_btn:hover{
    background-color:red;
    cursor:pointer;
}

#pause_btn{
    pointer-events:none;
    background-color:rgb(100, 149, 237);
}

#pause_btn:hover{
    background-color:blue;
    cursor:pointer;
}

#resume_btn{
    pointer-events:none;
    background-color:rgb(100, 149, 237);
}

#resume_btn:hover{
    background-color:blue;
    cursor:pointer;
}


.timerjs #nb_reciever{
    text-align:center;
    position:relative;
    background-color:yellow;
    left:50%;
}


Header #reciever{
    display:none;
}
