
#timer{
    min-width:100%;
    min-height:100%;
    width:100%;
    height:auto;
    background-image:url('../../images/IntervalTimer_Background.png');
    background-size:cover;
    overflow:auto;
    top:0px;
    left:0px;
    position:absolute;
}

#countdown_info{
    margin-top:150px;
}

#reciever{
    margin-top:150px;
}

#countsubmit{
    margin-top:150px;
}
