@media screen and (orientation:portrait){
    html{
        transform:rotate(-90deg);
        transform-origin:left top;
        width:100vh;
        overflow-x:hidden;
        position:absolute;
        top:100%;
        left:0;
    }
}

@media only screen and (max-width:769px){
    #main-caption{
        font-size:40px;
    }

    #main-picture{
        display:none;
    }

    #secondary-caption{
        font-size:20px;
        margin-top:50px;
    }

    #caption-wrap{
        text-align:center;
        margin-top:150px;
        position:absolute;
    }


    #learnmore-cont{
        text-align:center;
    }


    #learnmore{
        padding:15px;
        font-size:25px;
        font-weight: 500;
        margin-top:440px;
        border-radius:10px;
        font-weight: 550;
    }


    #des_pic{
        width:100px;
        height:100px;
    }
    
    #description_table{
        float:center;
        width:400px;
        margin-top:auto;
        margin-bottom:auto;
        border-radius: 20px;
        margin-left:auto;
        margin-right:auto;
        margin-top:200px;
    }

    td{
        font-size: 15px;
        border-bottom:1px dotted;
    }

    #border{
        margin-top:0px;
        visibility: hidden;
    }


}

@media only screen and (min-width:768px) and (max-width:1260px){
    #main-caption{
        font-size:60px;
    }

    #main-picture{
        display:none;
    }

    #secondary-caption{
        font-size:25px;
    }

    #caption-wrap{
        text-align:center;
        margin-top:150px;
        position:absolute;
    }

    #learnmore-cont{
        text-align:center;
    }


    #learnmore{
        padding:10px;
        display:flex;
        font-size:25px;
        font-weight: 500;
        margin-top:550px;
        border-radius:10px;
        font-weight: 550;
    }


    #des_pic{
        width:100px;
        height:100px;
    }
    
    #description_table{
        float:center;
        width:600px;
        margin-top:auto;
        margin-bottom:auto;
        border-radius: 20px;
        margin-left:auto;
        margin-right:auto;
        margin-top:200px;
    }

    td{
        font-size: 15px;
        border-bottom:1px dotted;
    }

    #border{
        margin-top:0px;
        visibility: hidden;
    }

}

@media only screen and (min-width:1261px) and (max-width:1500px){
    #main-caption{
        font-size:60px;
        width:650px;
    }

    #main-picture{
        float:right;
        margin-top:160px;
        padding-right:70px;
        width:450px;
        transform:rotate(-15deg);
    }

    #secondary-caption{
        font-size:25px;
        width:525px;
    }

    #caption-wrap{
        width:575px;
        height:350px;
        border-radius: 15px;
        margin-left:175px;
        margin-top:200px;
        position:absolute;
    }


    #learnmore{
        padding:5px;
        width:150px;
        font-size:15px;
        font-weight: 500;
        margin-left:175px;
        margin-top:650px;
        border-radius:10px;
        font-weight: 550;
        text-align:center;
    }


    #des_pic{
        width:100px;
        height:100px;
    }
    
    #description_table{
        float:center;
        width:900px;
        margin-top:auto;
        margin-bottom:auto;
        border-radius: 20px;
        margin-left:auto;
        margin-right:auto;
        margin-top:12.5%;
    }

    td{
        font-size: 20px;
        border-bottom:1px dotted;
    }

    #border{
        margin-top:0px;
        visibility: hidden;
    }

}



@media only screen and (min-width:1501px){
    #main-caption{
        font-size:70px;
        width:750px;
    }

    #main-picture{
        float:right;
        margin-top:160px;
        padding-right:70px;
        width:600px;
        transform:rotate(-15deg);
    }

    #secondary-caption{
        font-size:30px;
        width:600px;
    }

    #caption-wrap{
        width:575px;
        height:350px;
        border-radius: 15px;
        margin-left:250px;
        margin-top:225px;
        position:absolute;
    }



    #learnmore{
        padding:5px;
        width:200px;
        font-size:20px;
        font-weight: 500;
        margin-left:250px;
        margin-top:700px;
        border-radius:10px;
        font-weight: 500;
        text-align:center;
    }

    #planner-info{
        margin-top:0px;
    }

    #des_pic{
        width:100px;
        height:100px;
    }
    
    #description_table{
        width:1000px;
        margin-top:100px;
        border-radius: 20px;
        margin-left:auto;
        margin-right:auto;
        margin-top:12.5%;
    }

    td{
        font-size: 20px;
        border-bottom:1px dotted;
    }

    #border{
        margin-top:0px;
        visibility: hidden;
    }


}


html{
    scroll-behavior: smooth;
}

section{
    height:100vh;
    position:relative;
}


#section-1{
    background-image:url('../../images/home_background_main.jpg');
    background-size:cover;
}

#section-2{
    background-color:rgb(57, 3, 107);
    background-size:cover;
}

#home{
    min-width:100%;
    min-height:100%;
    width:100%;
    height:auto;
    overflow:auto;
    top:0px;
    left:0px;
    position:absolute;
    overflow-x: hidden;
}

#main-caption{
    color:white;
    font-family:'Courier New', Courier, monospace;
}

#secondary-caption{
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#learnmore{
    font-family:'Courier New', Courier, monospace;
    color:black;
    text-decoration:none;
    background-color: white;
    border:3px solid;
    display:inline-block;

}


#learnmore:hover{
    background-color: darkgrey;
}


table{
    background-color: antiquewhite;
    text-align: center;
}

