#home{
    min-width:100%;
    min-height:100%;
    width:100%;
    height:auto;
    background-image:url('../../images/5f848714f2634615844b6b58_webflow-101.png');
    background-size:cover;
    overflow:auto;
    top:0px;
    left:0px;
    position:absolute;
}
