#gpa{
    min-width:100%;
    min-height:100%;
    width:100%;
    height:auto;
    background-image:url('../../images/gpa_background.jpg');
    background-size:cover;
    overflow:auto;
    top:0px;
    left:0px;
    position:absolute;
}


.gpajs #timer_id{
    display:inline-block;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top:125px;
    background-color:white;
    width:450px;
    font-size:25px;
    border-radius:200px;
}
